@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./syntax-highlighting.css";

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply mx-auto w-full max-w-3xl bg-gray-1 px-4 font-sans text-gray-12 antialiased md:px-6 lg:p-0;
  text-rendering: optimizeLegibility;
}

.text-balance {
  text-wrap: balance;
}

.callout > * {
  margin: 0px !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}
