[data-rehype-pretty-code-fragment] code {
  @apply m-0 grid min-w-full overflow-x-auto break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

/* Remove scrollbar */
code::-webkit-scrollbar,
pre::-webkit-scrollbar {
  display: none;
}

code,
pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
