[data-rehype-pretty-code-fragment] pre {
  background-color: #202425 !important;
}

[data-rehype-pretty-code-fragment] code {
  @apply m-0 grid min-w-full overflow-x-auto break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

/* h2 > a {
  @apply invisible absolute -ml-4 w-full max-w-2xl cursor-pointer no-underline;
}

h2:hover > a {
  @apply visible;
}

h2 > a::after {
  @apply text-slate8 transition-all;
  content: "#";
} */

/* Remove scrollbar */
code::-webkit-scrollbar,
pre::-webkit-scrollbar {
  display: none;
}

code,
pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
